/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

.button {
  -fx-background-color: #666666; /* Green */
  -fx-border: none;
  -fx-color: white;
  -fx-padding: 15px 32px;
  -fx-text-align: center;
  -fx-text-decoration: none;
  -fx-text-weight:bold;
  -fx-display: inline-block;
  -fx-font-size: 20px;
}